{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
	
		 <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
       <div class="preloader"></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			{% include 'commun/headerUtilisateur.html.twig' %}
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- =============================== Dashboard Header ========================== -->
			<section class="bg-cover position-relative" style="background:red url(https://via.placeholder.com/1920x900) no-repeat;" data-overlay="3">
				<div class="abs-list-sec"><a href="{{ path('app_annonce')}}" class="add-list-btn"><i class="fas fa-plus me-2"></i>Ajouter une annonce</a></div>
				<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								
							<div class="dashboard-head-author-clicl">
								<div class="dashboard-head-author-thumb">
									<img src="https://via.placeholder.com/400x400" class="img-fluid" alt="" />
								</div>
								<div class="dashboard-head-author-caption">
									<div class="dashploio"><h4>Charles D. Robinson</h4></div>
									<div class="dashploio"><span class="agd-location"><i class="lni lni-map-marker me-1"></i>San Francisco, USA</span></div>
									<div class="listing-rating high"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i></div>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</section>
			<!-- =============================== Dashboard Header ========================== -->
			
			<!-- ======================= dashboard Detail ======================== -->
			<div class="goodup-dashboard-wrap gray px-4 py-5">
				<a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
					<i class="fas fa-bars me-2"></i>Dashboard Navigation
				</a>
				<div class="collapse" id="MobNav">
					<div class="goodup-dashboard-nav sticky-top">
						<div class="goodup-dashboard-inner">
							<ul data-submenu-title="Main Navigation">
								<li><a href="dashboard.html"><i class="lni lni-dashboard me-2"></i>Dashboard</a></li>
								<li><a href="dashboard-my-listings.html"><i class="lni lni-files me-2"></i>Mes annonces</a></li>
								<li class="active"><a href="dashboard-add-listings.html"><i class="lni lni-add-files me-2"></i>Ajouter une annonce</a></li>
								<li><a href="dashboard-saved-listings.html"><i class="lni lni-bookmark me-2"></i>Annonces favorites</a></li>
								<li><a href="dashboard-my-bookings.html"><i class="lni lni-briefcase me-2"></i>Mes donneurs préférés<span class="count-tag bg-warning">4</span></a></li>
								<li><a href="dashboard-wallet.html"><i class="lni lni-mastercard me-2"></i>Mes statistiques</a></li>
								<li><a href="dashboard-messages.html"><i class="lni lni-envelope me-2"></i>Messages<span class="count-tag">4</span></a></li>
							</ul>
							<ul data-submenu-title="My Accounts">
								<li><a href="dashboard-my-profile.html"><i class="lni lni-user me-2"></i>Mon profil </a></li>
								<li><a href="dashboard-change-password.html"><i class="lni lni-lock-alt me-2"></i>Changer votre mot de passe</a></li>
								<li><a href="javascript:void(0);"><i class="lni lni-trash-can me-2"></i>Supprimer le compte</a></li>
								<li><a href="login.html"><i class="lni lni-power-switch me-2"></i>Déconnexion</a></li>
							</ul>
						</div>					
					</div>
				</div>
				
				<div class="goodup-dashboard-content">
					<div class="dashboard-tlbar d-block mb-5">
						<div class="row">
							<div class="colxl-12 col-lg-12 col-md-12">
								<h1 class="ft-medium">Ajouter une annonce</h1>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item text-muted"><a href="#">Accueil</a></li>
										<li class="breadcrumb-item text-muted"><a href="#">Dashboard</a></li>
										<li class="breadcrumb-item"><a href="#" class="theme-cl">Ajouter une annonce</a></li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
					{{ form_start(form_annonce) }}
					<div class="dashboard-widg-bar d-block">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<div class="submit-form">
									
									<!-- Listing Info -->
									<div class="dashboard-list-wraps bg-white rounded mb-4">
										<div class="dashboard-list-wraps-head br-bottom py-3 px-3">
											<div class="dashboard-list-wraps-flx">
												<h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file me-2 theme-cl fs-sm"></i>Informations du don</h4>	
											</div>
										</div>
										
										<div class="dashboard-list-wraps-body py-3 px-3">
											<div class="row">
												<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">Titre</label>
														{{ form_row(form_annonce.titreAnnonce) }}
														
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">Catégories</label>
														{{ form_row(form_annonce.idCategorie) }}
														{{ form_row(form_annonce.idSousCategorie) }}

													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">État du don</label>
														{{ form_row(form_annonce.idEtat) }}
													</div>
												</div>
												<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">Description du don</label>
														{{ form_row(form_annonce.descriptionAnnonce) }}
														
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Location Info -->
									<div class="dashboard-list-wraps bg-white rounded mb-4">
										<div class="dashboard-list-wraps-head br-bottom py-3 px-3">
											<div class="dashboard-list-wraps-flx">
												<h4 class="mb-0 ft-medium fs-md"><i class="fas fa-map-marker-alt me-2 theme-cl fs-sm"></i>Localisation du don</h4>	
											</div>
										</div>
										
										<div class="dashboard-list-wraps-body py-3 px-3">
											<div class="row">
												
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">Ville</label>
													{{ form_row(form_annonce.idVille) }}
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">Adresse</label>
														{{ form_row(form_annonce.adresse) }}
														<input type="text" class="form-control rounded" placeholder="USA 20TH Berlin Market NY" />
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">Code postal</label>
														<input type="text" class="form-control rounded" placeholder="HQ125478" />
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">Téléphone</label>
														<input type="text" class="form-control rounded" placeholder="91 256 584 7895" />
													</div>
												</div>
												<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
													<div class="form-group">
														<label class="mb-1">Email</label>
														<input type="text" class="form-control rounded" placeholder="kumarsrikan@gmail.com" />
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<!-- Image & Gallery Option -->
									<div class="dashboard-list-wraps bg-white rounded mb-4">
										<div class="dashboard-list-wraps-head br-bottom py-3 px-3">
											<div class="dashboard-list-wraps-flx">
												<h4 class="mb-0 ft-medium fs-md"><i class="fa fa-camera me-2 theme-cl fs-sm"></i>Image & Gallery Option</h4>	
											</div>
										</div>
										
										<div class="dashboard-list-wraps-body py-3 px-3">
											<div class="row">
												<!-- Logo -->
												<div class="col-lg-4 col-md-6">
													<label class="mb-1">Image 1</label>
													<form action="/file-upload" class="dropzone" id="single-logo">
														<i class="fas fa-upload"></i>{{ form_row(form_annonce.images) }}
													</form>
													<label class="smart-text">Taille maximum: 2 MB.</label>
												</div>
												
												<!-- Featured Image -->
												<div class="col-lg-4 col-md-6">
													<label class="mb-1">Image 2</label>
													<form action="/file-upload" class="dropzone" id="featured-image">
														<i class="fas fa-upload"></i>
													</form>
													<label class="smart-text">Taille maximum: 2 MB.</label>
												</div>
												
												<!-- Gallery -->
												<div class="col-lg-4 col-md-12">
													<label class="mb-1">Image 3</label>
													<form action="/file-upload" class="dropzone" id="gallery">
														<i class="fas fa-upload"></i>
													</form>
													<label class="smart-text">Taille maximum: 2 MB.</label>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
							{{ form_widget(form_annonce) }}
					</div>
{{ form_end(form_annonce) }}					
					<!-- footer -->
					<div class="row">
						<div class="col-md-12">
							<div class="py-3">© 2022 Lebondon.</div>
						</div>
					</div>
		
				</div>
				
			</div>
			<!-- ======================= dashboard Detail End ======================== -->
			
			<a id="tops-button" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/jquery.magnific-popup.min.js"></script>
		<script src="assets/js/dropzone.js"></script>
		<script src="assets/js/counterup.js"></script>
		<script src="assets/js/lightbox.js"></script>
		<script src="assets/js/moment.min.js"></script>
		<script src="assets/js/daterangepicker.js"></script>
		<script src="assets/js/lightbox.js"></script>		
		<script src="assets/js/jQuery.style.switcher.js"></script>
		<script src="assets/js/custom.js"></script>
		
		<!-- Date Booking Script -->
		<script src="assets/js/moment.min.js"></script>
		<script src="assets/js/daterangepicker.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		
	<!--	<script>
			window.onload = ()	=> {
				let categorie = document.querySelector("#annonce_idCategorie");

				categorie.addEventListener("change", function(){
					let form = this.closest('form');//permet d'aller chercher la balise form la plus proche
					let data = this.name+ "=" + this.value;

					fetch(form.action, {
						method: form.getAttribute("method"),
						body: data,
						headers: {
							"Content-Type": "application/x-www-form-urlencoded; charset:UTF-8"
					}
				})
				.then(response => response.text())
				.then(html => {
					let content = document.createElement("html");
					content.innerHTML = html;
					let nouveauSelect = content.querySelector("#annonce_idSousCategorie");
					document.querySelector("#annonce_idSousCategorie").replaceWith(nouveauSelect);
				})
				.catch(error => {
					console.log(error);
				})
				});
			}
			
		</script> -->	


		<script>
			Dropzone.options.singleLogo = {
			  maxFiles: 1,
			  accept: function(file, done) {
				console.log("uploaded");
				done();
			  },
			  init: function() {
				this.on("maxfilesexceeded", function(file){
					alert("No more files please!");
				});
			  }
			};
		</script>
		<script>
			Dropzone.options.featuredImage = {
			  maxFiles: 1,
			  accept: function(file, done) {
				console.log("uploaded");
				done();
			  },
			  init: function() {
				this.on("maxfilesexceeded", function(file){
					alert("No more files please!");
				});
			  }
			};
		</script>
		<script>
			Dropzone.options.gallery = {
			  accept: function(file, done) {
				console.log("uploaded");
				done();
			  },
			  init: function() {
				this.on("maxfilesexceeded", function(file){
					alert("No more files please!");
				});
			  }
			};
		</script>

{% endblock %}
